/* Reset some default browser styles for better consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Apply styles to header */
header {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Apply styles to main content */
main {
    background-color: black;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section {
    margin: auto;
    max-width: 320px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Apply styles to footer */
footer {
    text-align: center;
    padding: 10px;
    background-color:black;
    color: white;
}

/* Apply some additional styling to links */
a {
    color: cyan;
    text-decoration: none;
}
a:visited{
    color:magenta;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
